<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="TransferServiceContextPortTypeSOAPBinding" closeTimeout="1:00:00" openTimeout="1:0:00" receiveTimeout="1:00:00" sendTimeout="1:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
              <binding name="NCIACoreServicePortTypeSOAPBinding" closeTimeout="10:00:00" openTimeout="10:00:00" receiveTimeout="10:00:00" sendTimeout="10:00:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
                <security mode="None">
                  <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                  <message clientCredentialType="UserName" algorithmSuite="Default"/>
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://imaging.nci.nih.gov/wsrf/services/cagrid/TransferServiceContext" binding="basicHttpBinding" bindingConfiguration="TransferServiceContextPortTypeSOAPBinding" contract="TransferServiceContextPortType" name="TransferServiceContextPortTypePort"/>
          <endpoint address="http://imaging.nci.nih.gov/wsrf/services/cagrid/NCIACoreService" binding="basicHttpBinding" bindingConfiguration="NCIACoreServicePortTypeSOAPBinding" contract="NCIACoreServicePortType" name="NCIACoreServicePortTypePort"/>
        </client>
    </system.serviceModel>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
