/*L
*  Copyright Northwestern University
*  Copyright Stanford University (ATB 1.0 and ATS 1.0)
*
*  Distributed under the OSI-approved BSD 3-Clause License.
*  See http://ncip.github.com/annotation-and-image-markup/LICENSE.txt for details.
*/

body, input{
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

#loginSection{
  z-index: 2;
}


.loginForm{
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  width: 400px;
  margin: auto;
}

.loginStatus{
  margin-left: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  width: 400px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.loginForm table {
  width: 100%;
}

.onPage{
  background-color: green;
  color: white;
}

.heading{
 font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-size: 24px;
 font-weight: 700;
 position: relative;
 text-align: center;
}

.sub-heading{
 font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
 font-size: 16px;
 font-weight: 700;
 position: relative;
 text-align: center;
}

#navigateDiv{
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#searchForm{
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#searchButtons{
  margin-top: 15px;
  margin-left: 300px;
}

.searchLabel{
    text-align: right;
}

#resultTable{
  font-family: Arial, Helvetica, sans-serif;
  width:100%;
  border-collapse:collapse;
  font-size: 12px;
}
#resultTable td, #customers th
{
  font-size:1em;
  border:1px solid #98bf21;
  padding:3px 7px 2px 7px;
}
#resultTable th
{
  font-size:1.1em;
  font-weight: bolder;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  padding-left: 2px;
  background-color:#006600;
  color:#ffffff;
}
#resultTable tr.alt td
{
  color:#000000;
  background-color:#EAF2D3;
}
#resultTable th:not(:last-child) {
  border-right: 1px solid #ffffff;
}

#footer {
	text-align: center;
	font-size: .8em;
}

.notice {
	font-size: .9em;
	font-weight: bold;
}

.msg_left_30 {
	margin-left: 30px;
}

.logo {
	background-image: url("aim.png");
	background-color: rgb(71,28,107);
	background-repeat: no-repeat;
	background-position: 100% 0%;
	height: 61px;
	min-width: 339px;
	margin: 0px;
	padding: 0px;
}