<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AIMTCGAService.AIMDataServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="AIM3DataServicePortTypeSOAPBinding" closeTimeout="00:05:00"
                    openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                    maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
                <security mode="None">
                  <transport clientCredentialType="None" proxyCredentialType="None"
                      realm="" />
                  <message clientCredentialType="UserName" algorithmSuite="Default" />
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://ivi02.cci.emory.edu:8080/wsrf/services/cagrid/AIM3DataService"
          binding="basicHttpBinding" bindingConfiguration="AIM3DataServicePortTypeSOAPBinding"
          contract="AIM3DataServicePortType" name="AIM3DataServicePortTypePort" />
        </client>
    </system.serviceModel>
    <userSettings>
        <AIMTCGAService.AIMDataServiceSettings>
            <setting name="AIMDataServiceUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="AIMDataServiceUrlList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
        </AIMTCGAService.AIMDataServiceSettings>
    </userSettings>
</configuration>