<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Segmentation.Configuration.SegmentationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Segmentation.Configuration.SegmentationSettings>
            <setting name="ShowSegmentationCreationDialog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CategoryTypeModifierConfigurationFileLocation"
                serializeAs="String">
                <value />
            </setting>
            <setting name="AnatomicRegionModifierConfigurationFileLocation"
                serializeAs="String">
                <value />
            </setting>
            <setting name="SaveCopyOfNewSegmentationDocumentToDesktop" serializeAs="String">
                <value>False</value>
            </setting>
        </Segmentation.Configuration.SegmentationSettings>
    </userSettings>
</configuration>