<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AIMTemplateService.Configuration.AtsSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AIMTemplateService.Configuration.AtsSettings>
            <setting name="AtsUrl" serializeAs="String">
                <value>http://imaging.fsm.northwestern.edu</value>
            </setting>
            <setting name="AutoImportTemplates" serializeAs="String">
                <value>False</value>
            </setting>
        </AIMTemplateService.Configuration.AtsSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
