<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SearchComponent.SearchSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SearchComponent.SearchSettings>
            <setting name="AimSearchHiddenColumns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="NbiaSearchHiddenColumns" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="NBIADataServiceUrl" serializeAs="String">
                <value>http://imaging.nci.nih.gov/wsrf/services/cagrid/NCIACoreService</value>
            </setting>
            <setting name="NBIADataServiceTransferUrl" serializeAs="String">
                <value>http://imaging.nci.nih.gov/wsrf/services/cagrid/TransferServiceContext</value>
            </setting>
        </SearchComponent.SearchSettings>
    </userSettings>
</configuration>